Repository Vineflower/vineflower, pull requests merged in 2022-10, with the labels that each got.

#200 Add test for array constructor references
  test/org/jetbrains/java/decompiler/SingleClassesTest.java
  testData/results/pkg/TestArrayConstructorReference.dec
  testData/results/pkg/TestArrayConstructorReferenceJrt.dec
  testData/src/java8/pkg/TestArrayConstructorReference.java
  testData/src/java8/pkg/TestArrayConstructorReferenceJrt.java
Labels: Priority: Medium, unit test

#204 Properly resolve source classes in wrong packages
  src/org/jetbrains/java/decompiler/main/Fernflower.java
  src/org/jetbrains/java/decompiler/main/extern/IFernflowerPreferences.java
  src/org/jetbrains/java/decompiler/struct/StructContext.java
Labels: Priority: Low, bugfix

#206 Allow using "fake" files as source
  src/org/jetbrains/java/decompiler/struct/SingleFileContextSource.java
  src/org/jetbrains/java/decompiler/struct/StructContext.java
Labels: Subsystem: IO, Priority: Medium, bugfix

#208 Add further tests to check for required casts from Object to Boxed primitives
  testData/results/pkg/TestCastObjectToPrimitive.dec
  testData/src/java8/pkg/TestCastObjectToPrimitive.java
Labels: Priority: Low, unit test

#128 Detect JAR/ZIP files with other file endings
  src/org/jetbrains/java/decompiler/struct/JarContextSource.java
  src/org/jetbrains/java/decompiler/struct/StructContext.java
Labels: enhancement, Subsystem: IO, Priority: Medium
