Repository Vineflower/vineflower, pull requests merged in 2022-12, with the labels that each got.

#218 Add a text tokens api
  README.md
  src/org/jetbrains/java/decompiler/main/ClassWriter.java
  src/org/jetbrains/java/decompiler/main/Fernflower.java
  src/org/jetbrains/java/decompiler/main/RecordHelper.java
  src/org/jetbrains/java/decompiler/main/extern/IFernflowerPreferences.java
  src/org/jetbrains/java/decompiler/main/extern/TextTokenVisitor.java
  src/org/jetbrains/java/decompiler/main/rels/NestedClassProcessor.java
  src/org/jetbrains/java/decompiler/modules/decompiler/ExprProcessor.java
  src/org/jetbrains/java/decompiler/modules/decompiler/exps/AnnotationExprent.java
  src/org/jetbrains/java/decompiler/modules/decompiler/exps/ArrayExprent.java
  src/org/jetbrains/java/decompiler/modules/decompiler/exps/AssignmentExprent.java
  src/org/jetbrains/java/decompiler/modules/decompiler/exps/ConstExprent.java
  src/org/jetbrains/java/decompiler/modules/decompiler/exps/Exprent.java
  src/org/jetbrains/java/decompiler/modules/decompiler/exps/FieldExprent.java
  src/org/jetbrains/java/decompiler/modules/decompiler/exps/FunctionExprent.java
  src/org/jetbrains/java/decompiler/modules/decompiler/exps/InvocationExprent.java
  src/org/jetbrains/java/decompiler/modules/decompiler/exps/NewExprent.java
  src/org/jetbrains/java/decompiler/modules/decompiler/exps/SwitchExprent.java
  src/org/jetbrains/java/decompiler/modules/decompiler/exps/VarExprent.java
  src/org/jetbrains/java/decompiler/modules/decompiler/vars/VarProcessor.java
  src/org/jetbrains/java/decompiler/util/TextBuffer.java
  src/org/jetbrains/java/decompiler/util/TextUtil.java
  src/org/jetbrains/java/decompiler/util/token/ClassTextToken.java
  src/org/jetbrains/java/decompiler/util/token/FieldTextToken.java
  src/org/jetbrains/java/decompiler/util/token/MethodTextToken.java
  src/org/jetbrains/java/decompiler/util/token/TextRange.java
  src/org/jetbrains/java/decompiler/util/token/TextToken.java
  src/org/jetbrains/java/decompiler/util/token/TextTokenDumpVisitor.java
  src/org/jetbrains/java/decompiler/util/token/VariableTextToken.java
  test/org/jetbrains/java/decompiler/SingleClassesTest.java
  testData/results/pkg/TestTextTokens.dec
  testData/results/pkg/TestTextTokens2.dec
  testData/src/java16/ext/ExampleAnnotation.java
  testData/src/java16/pkg/TestTextTokens2.java
  testData/src/java8/pkg/TestTextTokens.java
Labels: enhancement, Priority: Medium

#223 Add an option to remove imports
  README.md
  src/org/jetbrains/java/decompiler/main/collectors/ImportCollector.java
  src/org/jetbrains/java/decompiler/main/extern/IFernflowerPreferences.java
Labels: enhancement, Priority: Low

#227 More Kotlin tests
  plugins/kotlin/src/test/java/org/quiltmc/quiltflower/kotlin/KotlinTests.java
  plugins/kotlin/testData/results/pkg/TestAnnotations.dec
  plugins/kotlin/testData/results/pkg/TestBitwiseFunctions.dec
  plugins/kotlin/testData/results/pkg/TestCompileTimeErrors.dec
  plugins/kotlin/testData/results/pkg/TestConvertedK2JOps.dec
  plugins/kotlin/testData/results/pkg/TestDataClass.dec
  plugins/kotlin/testData/results/pkg/TestGenerics.dec
  plugins/kotlin/testData/results/pkg/TestKotlinTypes.dec
  plugins/kotlin/testData/results/pkg/TestNullable.dec
  plugins/kotlin/testData/results/pkg/TestObject.dec
  plugins/kotlin/testData/results/pkg/TestPoorNames.dec
  plugins/kotlin/testData/results/pkg/TestSealedHierarchy.dec
  plugins/kotlin/testData/results/pkg/TestTopLevelKt.dec
  plugins/kotlin/testData/src/kt/pkg/TestAnnotations.kt
  plugins/kotlin/testData/src/kt/pkg/TestBitwiseFunctions.kt
  plugins/kotlin/testData/src/kt/pkg/TestCompileTimeErrors.kt
  plugins/kotlin/testData/src/kt/pkg/TestConvertedK2JOps.kt
  plugins/kotlin/testData/src/kt/pkg/TestDataClass.kt
  plugins/kotlin/testData/src/kt/pkg/TestGenerics.kt
  plugins/kotlin/testData/src/kt/pkg/TestKotlinTypes.kt
  plugins/kotlin/testData/src/kt/pkg/TestNullable.kt
  plugins/kotlin/testData/src/kt/pkg/TestObject.kt
  plugins/kotlin/testData/src/kt/pkg/TestPoorNames.kt
  plugins/kotlin/testData/src/kt/pkg/TestSealedHierarchy.kt
  plugins/kotlin/testData/src/kt/pkg/TestTopLevel.kt
Labels: Priority: Medium, unit test

#224 Update gradle-wrapper.properties and GH actions
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/snapshot.yml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: enhancement, Priority: Medium

#150 flatten statements helper
  src/org/jetbrains/java/decompiler/main/rels/ClassWrapper.java
  src/org/jetbrains/java/decompiler/main/rels/MethodProcessor.java
  src/org/jetbrains/java/decompiler/modules/decompiler/ExitHelper.java
  src/org/jetbrains/java/decompiler/modules/decompiler/ExprProcessor.java
  src/org/jetbrains/java/decompiler/modules/decompiler/FinallyProcessor.java
  src/org/jetbrains/java/decompiler/modules/decompiler/MergeHelper.java
  src/org/jetbrains/java/decompiler/modules/decompiler/SecondaryFunctionsHelper.java
  src/org/jetbrains/java/decompiler/modules/decompiler/StatEdge.java
  src/org/jetbrains/java/decompiler/modules/decompiler/ValidationHelper.java
  src/org/jetbrains/java/decompiler/modules/decompiler/decompose/DomHelper.java
  src/org/jetbrains/java/decompiler/modules/decompiler/decompose/DomTracer.java
  src/org/jetbrains/java/decompiler/modules/decompiler/flow/DirectEdge.java
  src/org/jetbrains/java/decompiler/modules/decompiler/flow/DirectGraph.java
  src/org/jetbrains/java/decompiler/modules/decompiler/flow/DirectNode.java
  src/org/jetbrains/java/decompiler/modules/decompiler/flow/DirectNodeType.java
  src/org/jetbrains/java/decompiler/modules/decompiler/flow/FlattenStatementsHelper.java
  src/org/jetbrains/java/decompiler/modules/decompiler/sforms/SFormsConstructor.java
  src/org/jetbrains/java/decompiler/modules/decompiler/stats/Statement.java
  src/org/jetbrains/java/decompiler/modules/decompiler/stats/SwitchStatement.java
  src/org/jetbrains/java/decompiler/util/DotExporter.java
  testData/results/pkg/TestFinallyThrow.dec
  testData/results/pkg/TestTryFinally.dec
  testData/results/pkg/TestTryReturn.dec
  testData/results/pkg/TestTryWithResourcesAfterSwitch.dec
  testData/results/pkg/TestUnknownCast.dec
  testData/src/java8/pkg/TestTryFinally.java
Labels: enhancement, Subsystem: Statement Structure, code quality

#228 Kotlin name, exprent, array, and JVM flag fixes
  plugins/kotlin/src/main/java/org/quiltmc/quiltflower/kotlin/KotlinImportCollector.java
  plugins/kotlin/src/main/java/org/quiltmc/quiltflower/kotlin/KotlinWriter.java
  plugins/kotlin/src/main/java/org/quiltmc/quiltflower/kotlin/expr/KFunctionExprent.java
  plugins/kotlin/src/main/java/org/quiltmc/quiltflower/kotlin/expr/KInvocationExprent.java
  plugins/kotlin/src/main/java/org/quiltmc/quiltflower/kotlin/expr/KVarExprent.java
  plugins/kotlin/src/main/java/org/quiltmc/quiltflower/kotlin/util/KTypes.java
  plugins/kotlin/testData/results/pkg/TestAnnotations.dec
  plugins/kotlin/testData/results/pkg/TestAnyType.dec
  plugins/kotlin/testData/results/pkg/TestBitwiseFunctions.dec
  plugins/kotlin/testData/results/pkg/TestClassDec.dec
  plugins/kotlin/testData/results/pkg/TestComparison.dec
  plugins/kotlin/testData/results/pkg/TestCompileTimeErrors.dec
  plugins/kotlin/testData/results/pkg/TestConvertedK2JOps.dec
  plugins/kotlin/testData/results/pkg/TestDataClass.dec
  plugins/kotlin/testData/results/pkg/TestExtensionFun.dec
  plugins/kotlin/testData/results/pkg/TestFunVarargs.dec
  plugins/kotlin/testData/results/pkg/TestFuncRef.dec
  plugins/kotlin/testData/results/pkg/TestInfixFun.dec
  plugins/kotlin/testData/results/pkg/TestKotlinTypes.dec
  plugins/kotlin/testData/results/pkg/TestLabeledJumps.dec
  plugins/kotlin/testData/results/pkg/TestNonInlineLambda.dec
  plugins/kotlin/testData/results/pkg/TestNothingReturns.dec
  plugins/kotlin/testData/results/pkg/TestNullable.dec
  plugins/kotlin/testData/results/pkg/TestNullableOperator.dec
  plugins/kotlin/testData/results/pkg/TestObject.dec
  plugins/kotlin/testData/results/pkg/TestParams.dec
  plugins/kotlin/testData/results/pkg/TestPoorNames.dec
  plugins/kotlin/testData/results/pkg/TestSealedHierarchy.dec
  plugins/kotlin/testData/results/pkg/TestSmartCasts.dec
  plugins/kotlin/testData/results/pkg/TestTailrecFunctions.dec
  plugins/kotlin/testData/results/pkg/TestTopLevelKt.dec
  plugins/kotlin/testData/results/pkg/TestTryCatchExpressions.dec
  plugins/kotlin/testData/results/pkg/TestTryFinallyExpressions.dec
  plugins/kotlin/testData/results/pkg/TestWhen.dec
Labels: enhancement, Priority: Medium, Subsystem: Plugins
